.navbar {
  height: 5rem;
  background-color: #ef5350;
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  margin: 0 1rem;
  width: 10rem;
}

.navbar a {
  color: #feca1c;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: whitesmoke;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid whitesmoke;
}
