@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Saira+Stencil+One&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Pixelify Sans", Arial, Helvetica, sans-serif;
}

/* #root {
  margin: 0;
  padding: 0;
} */

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

.black-bar {
  background-color: rgb(53, 53, 53);
  width: 100%;
  height: 5px;
}

.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokedex p {
  margin: 10px 10px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 0 20px 0;
}

.search-box input {
  border-radius: 10px;
  height: 40px;
}

.search-box button {
  width: 40px;
  height: 4fd0px;
  border-radius: 40px;
  opacity: 1;
}

.search-box button:hover {
  opacity: 0.5;
}

.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 150px;
  width: 250px;
  background-color: #dff0d8;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  opacity: 1;
}

.card:hover {
  opacity: 0.5;
}

.card img {
  width: 50px;
  margin: 20px 20px 0 20px;
}

.card h5 {
  text-transform: capitalize;
}

.pokemon-info {
  width: 50%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  border: 0.5px solid black;
  border-radius: 1rem;
  padding: 10px;
  background-color: #f5dd8c;
}

.pokemon-info h3 {
  text-transform: capitalize;
}

.pokemon-info img {
  width: 200px;
}

.base-stat p {
  text-align: center;
  text-transform: capitalize;
}

.default-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  padding: 10px;
  margin: 0 20px 20px 20px;
  border-radius: 1rem;
  background-color: #f5dd8c;
}

.default-info img {
  width: 150px;
  margin: 10px;
}

.pokemon-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pokemon-type h3 {
  margin: 10px;
  background-color: whitesmoke;
  padding: 0.5rem;
  font-size: 18px;
  border-radius: 8px;
  border: 0.5px solid grey;
  text-transform: capitalize;
}

.displayed-type {
  text-align: center;
}

.ability {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ability h3 {
  margin: 10px;
  background-color: #ef5350;
  color: whitesmoke;
  padding: 0.5rem;
  font-size: 18px;
  border-radius: 8px;
  border: 0.5px solid grey;
  text-transform: capitalize;
}

.displayed-ability {
  text-align: center;
}

.base-stat p {
  margin: 0;
}

.buttons button {
  margin: 40px 20px 100px 20px;
  padding: 10px;
  width: 150px;
  border-radius: 1rem;
  background-color: #b74c4d;
  color: whitesmoke;
  border: 0.5px solid black;
  box-shadow: 2px 2px 2px 2px grey;
  opacity: 1;
}

.buttons button:hover {
  opacity: 0.5;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: minmax(100px, 800px);
  text-wrap: wrap;
}

/* .about-title {
  text-align: center;
} */

/* .about-body {
  width: minmax(100px, 800px);
} */
