@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

/* #root {
  margin: 0;
  padding: 0;
} */
.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

.pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .pokedex h3 {
  margin: 10px 10px;
} */

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 20px;
}

.search-box input {
  border-radius: 10px;
}

.search-box button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  opacity: 1;
}

.search-box button:hover {
  opacity: 0.5;
}

.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 150px;
  background-color: #dff0d8;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  opacity: 1;
}

.card:hover {
  opacity: 0.5;
}

.card img {
  width: 50px;
  margin: 20px 20px 0 20px;
}

.card h5 {
  text-transform: capitalize;
}

.pokemon-info {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  border: 0.5px solid black;
  border-radius: 1rem;
  padding: 10px;
  background-color: #f5dd8c;
}

.pokemon-info h5 {
  text-transform: capitalize;
}

.pokemon-info img {
  width: 200px;
}

.base-stat p {
  text-align: center;
  text-transform: capitalize;
}

.default-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
  padding: 10px;
  margin: 0 20px 20px 20px;
  border-radius: 1rem;
  background-color: #f5dd8c;
}

.default-info img {
  width: 150px;
  margin: 10px;
}

.ability {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ability h3 {
  margin: 10px;
  background-color: #dff0d8;
  color: black;
  padding: 0.5rem;
  font-size: 18px;
  /* border-radius: 8px; */
  border: 0.5px solid black;
  text-transform: capitalize;
}

.base-stat p {
  margin: 0;
}

.buttons button {
  margin: 40px 20px 100px 20px;
  padding: 10px;
  width: 150px;
  border-radius: 1rem;
  background-color: #b74c4d;
  color: #feca1c;
  border: 0.5px solid black;
  box-shadow: 2px 2px 2px 2px #f5dd8c;
  opacity: 1;
}

.buttons button:hover {
  opacity: 0.5;
}
